.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  box-sizing: border-box;
  padding-top: $header-height-mobile;
  background-color: $bg-gray-50;
  transform: translateY(-100%);
  transition: all 0.5s;

  &--opened {
    transform: translateY(0);
  }

  .list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 44px;
    gap: 20px;
    list-style: none;
  }

  .list-item {
    @include inter-font(500);

    color: $font-gray-45;
    cursor: pointer;
    font-size: 40px;
    line-height: 42px;
    text-transform: uppercase;
  }
}
